build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/debug/almatesi.exe
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/debug/main.o
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/debug/qrc_qml.o
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile.Debug
build-almatesi-Desktop_Qt_5_5_1_MinGW_32bit-Debug/Makefile.Release
